*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ade8f4;
    font-family: Poppins;
    color:black;

}

.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header{
    background-color:#00b4d8;
    margin: 10px;
    border-radius: 20px;
    width: 75vw;
    padding: 20px;
}

.header h1{
    margin: 10px;
    font-size: 20pt;
}

.header a{
    color: #023047;
}

.header a:hover{
    color: white;
}

.header p{
    font-size: 12pt;
}

@media (max-width: 768px){
    .header p{
        font-size: 10pt
    }
    .header h1{
        font-size: 20pt;
    }
}

.allProgressContainer{
    display: flex;
    flex-direction: row ;
    align-items: center; 
    justify-content: center;
    gap: 20px; 
    margin: 50px;
}

.task-box {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 33vw;
}

.notStartedList{
    border: 2px solid #ff6f61;
}

.doingList{
    border: 2px solid #c3cb1f;
}

.doneList{
    border: 2px solid #4caf50;
}

input[type = "text"]{
    width: 12vw;
    border: none;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    margin: 20px 0 10px 0;
}

button{
    border: none;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
}

.notStarted{
    color: red;
    font-size: 19pt;
}

.doing{
    color: yellow;
    font-size: 19pt;
}

.done{
    color: green;
    font-size: 19pt;
}

li{
    list-style-type: none;
}

li:hover{
    cursor: pointer;

}